<h1>Hello, world!</h1>

<ul>
  <li *ngFor="let num of numbers">
    {{num}}
  </li>
</ul>

<h2 *ngIf="isOk">{{message}}</h2>

<button (click)="change()">Click to delete message</button>


<ul >
  <li *ngFor="let u of users">
    name = {{u.name}}, age = {{u.age}}
  </li>
</ul>

<fieldset>
  <label>Enter text </label>
  <input type="text" [(ngModel)] = "text">
  <button (click)="saveText()"> save</button>
</fieldset>
<ul>
  <li *ngFor="let item of items, let index = index">
    <p>
      {{index}}. {{item}}
      <button (click)="delBnt(index)">delete</button>
    </p>
  </li>
</ul>

<router-outlet></router-outlet>
